body{
  font-family: var( --main-font);
}
.modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 430px;
    height:230px;
    background-color:var( --white-color);
    border-radius: 8px;
    box-shadow: 24px;
    padding: 16px;
    outline: none; 
    box-sizing: content-box !important; 

  }
 
  .close-button {
    position: absolute;
    top: -4%;
    left: 88%;
    cursor: pointer;
  }
  
  .modal-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 1.5rem !important;
    color:  var( --secondary-color)

  }
  
  .modal-description {
    font-size: 12px;
    margin-top: 10px;
    line-height: 15px;
    text-align: center;

    font-weight: 400;

  }
  
  .modal-buttons {
    margin-top: 20px;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    text-align: center
  }
  
  .BtnModal{
    width: 156px;
    height: 48px;
    border: 1px solid var(--dark-color);
    border-radius: 4px;
    ;
  }
  .cancelBtnModal{
    background-color:var(--primary-color);
    color: var(--white-color);
    border: 1px solid var(--white-color);
    margin-right: 10px;

  }
  
  
  .confirmBtnModal{
    background-color:var(--white-color);

  }

  @media screen and ( max-width: 400px){

  .modal-title {
               
    margin-top: 0 !important;
}

.modal-description {
  font-size: 13px !important;
}
.BtnModal {
  width: 90%;
  
}
.cancelBtnModal {
  margin-right: 0;
}
.confirmBtnModal {
  margin-top: 7px;
}

}
