body{
font-family: var(--main-font);
}
.track-driver-container {
    display: flex;
    height: 100vh; 
    background-color:var(--bgc-color);
}

.track-map-container {
    flex: 1; 
    margin-top: 20px;
    margin-left: 4rem;
  }

  .delivery-status {
    flex: 0 0 350px;
    padding: 20px;
    padding-top: 4.5rem;
  }

  .ongoing-delivery,
.next-delivery-queue {
  margin-bottom: 20px;
  background-color: var(--white-color); 
  border-radius: 12px;
  border: 2px solid var(--primary-color);
}

.delivering-to,
.address {
    display: flex;
    align-items: center; 
    margin-bottom: 10px; 
}

.marker,
.locationMarker2 {
    margin-right: 10px; 
    margin-left: 10px; 
}

.ongoing-delivery h2,
.next-delivery-queue h2 {
  margin-bottom: 10px;
}

.driver-detail {
    display: flex;
  }

  .driver-detail1 {
    display: flex;
    flex-direction: column;
  }

  .driver-detail2 {
    flex-direction: row;
  }

  .phone {
    height: 30px;
    width: 30px;
  }

.next-delivery-queue .delivery-list {
    list-style-type: none;
    padding-left: 0; 
}

.next-delivery-queue .delivery-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px; 
}

.next-delivery-queue ul {
    padding-left: 0px;
}
.locationMarker {
   padding-right: 1rem;
   padding-left: 1rem;
}

.next-delivery-queue .locationMarker2 {
    margin-right: 10px; 
}

.next-delivery-queue .customer-name {
    margin-right: 10px; 
}

@media screen and (max-width: 768px) {
    .track-driver-container {
        flex-direction: column; 
        height: 400px; 
    }

    .track-map-container {
        order: 1;
    }

    .delivery-status {
        order: 2; 
    }

    .track-map-container {
        margin-top: 20px;
        margin-left: 0rem;
      }
}

