.button-container {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}

.button-container .delete-link {
  color: red;
}

.button-container .edit-link {
  color: #6f59da;
}

#view-driver-modal {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  padding-bottom: 2rem;
}

.modal-header-container{
  display: flex;
  justify-content: space-between;

}

.driver-details-container {
    margin-bottom: 20px;
  }

  .driver-details {
    display: flex !important;
    flex-direction: column !important;
  }
  
  .detail-row {
    display: flex !important;
    margin-bottom: 10px !important;
  }
  
  .detail-label {
    
    color: rgba(71, 71, 71, 1) !important;
    margin-right: 10px !important;
    flex-basis: 180px !important;
  }
  
  .detail-data {
    flex-grow: 1 !important;
  }
  