.button-container {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}

.button-container .delete-link {
  color: red;
}

.button-container .edit-link {
  color: #6f59da;
}

#view-driver-modal {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  padding-bottom: 2rem;
}

.modal-header-container {
  display: flex;
  justify-content: space-between;
}

.driver-details-container {
  margin-bottom: 20px;
}

.image-preview {
  width: 160px;
  height: 160px;
  text-align: center;
  border-radius: 50%; 
  border: 2px solid lightgrey; 
}

.driver-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px; 
  /* margin-left: 7rem; */
  border-radius: 50%; 
}

  
  /* .detail-row span{
    font-weight: bold;
  }  */

  .detail-data span{
    font-weight: bold;
  } 


  .driver-details {
    display: flex;
    justify-content: center;
  }
  
  .driver-info-container {
    display: flex;
    align-items: center;
  }
  
  .driver-image-container {
    margin-right: 20px;
  }
  
  .driver-info {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
  }
  
  .detail-data {
    margin-bottom: 10px;
  }
  