
h1 {
    /* text-align: center; */
    margin-left: 20px;
    
}

@media screen and (min-width: 500px) {
    .meal-plan-list-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 800px) {
    .meal-plan-list-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}