/* .sideBarMenu {
    flex: 0 0 20%;
  }
  .meal-plan-page {
    display: flex; 
  } */
  /* .customer-page{
    margin-left: 10px;
  } */

  body{
    font-family: var(--main-font);
    }
.search-container input {
  margin-left: 14px;
}


