body {
  font-family: var(--main-font);
}
.landing-page-container {
  background-color: var(--white-color);
}
.first {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 95vh;
}

.second,
.third,
.fourth {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 80vh;
  background-image: url("../../component-assets/landingPageBG.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.landing-page-section {
  flex: 1;
  padding: 15px;
}

.landing-page-heading {
  font-size: 2rem; /* Larger heading */
  font-weight: bold;
  margin-bottom: 10px;
  /* color: #1C1C1C; Dark text color */
  color: var(--dark-color); /* Dark text color */
}

.landing-page-subheading {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.landing-page-buttons {
  display: flex;
}

.explore-feature-button,
.get-started-button {
  /* Apply styles to both buttons */
  padding: 10px 20px;
  margin-right: 10px;
  color: var(--dark-color);
  border: 1px solid var(--dark-color);
  /* color: #1C1C1C; */
  /* border: 1px solid #1C1C1C;  */
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 5px;
  width: 150px;
  text-decoration: none;
  text-align: center;
}

.explore-feature-button {
  background-color: transparent;
  margin-left: 16px;
}

.get-started-button {
  background-color: var(--primary-color);
  color: var(--white-color);
  /* border: 2px solid #1c1c1c00; */
  border: 2px solid var(--button-border-landing);
}

.explore-feature-button:hover {
  background-color: var(--dark-color);
  /* background-color: #1C1C1C;  */
  color: var(--white-color);
}

.get-started-button:hover {
  /* background-color: #5944b8;  */
  background-color: var(--secondary-color);
}

.landing-page-image {
  max-width: 90%;
  height: auto;
}

.para1 {
  padding-bottom: 0px;
  color: var(--dark-color);
  /* color: black; */
}

.customer-data-image,
.tracking-data-image {
  padding-left: 2rem;
  flex: 2;
}

.second-right-content,
.third-right-content {
  flex: 1.5;
}

.image {
  max-width: 100%;
}

.scooter-image {
  position: fixed;
  bottom: -20px;
  left: 10%;
  transform: translateX(-50%);
  transition: transform 0.3s ease;
  width: 150px;
  height: 150px;
  filter: drop-shadow(0px 5px 5px var(--dark-color));
  /* filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.7)); */
}

.driver-page-image {
  height: 80vh;
}
@media  screen and (max-width:400px) {
  .landing-page-container{

    overflow-x: hidden !important;

  }
  
}

@media only screen and (max-width: 768px) {
  
    .fourth{
        display: none;
    }
  
    .landing-page-container {
    background-color: var(--white-color);
  }

  .first,
  .second,
  .third {
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
  }

  .landing-page-section {
    padding-right: 0;
  }

  .landing-page-buttons {
    flex-direction: column;
  }

  .explore-feature-button,
  .get-started-button {
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
  }

  .tracking-data-image img {
    max-width: 90%;
  }

  .customer-data-image,
  .tracking-data-image {
    padding-left: 2rem;
    flex: 1;
  }

  .second-right-content,
  .third-right-content {
    flex-direction: column;
    text-align: center;
  }

  .scooter-image {
    display: none;
  }
}
