.customer-page-container {
  background-color: rgba(241, 240, 247, 1);
  display: flex;
}
.sideBarMenu {
  flex: 0 0 15%;
}
.customer-page {
  flex: 1 85%;
  align-items: center;
  padding-top: 6px;
  padding-left: 1rem;
}

.search-addButtton-container {
  margin-right: 18px;
  padding-bottom: 1rem;
  margin-left: 10px;
}
.search-addButtton-container button {
  background-color: #6f59da !important;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
  padding: 0.5rem;
}
.search-addButtton-container button:hover {
  background-color: darkgray;
  color: black;
}
.search-container {
  display: flex;
  justify-content: left;
}
.search-input {
  padding: 6px 10px;
  margin: 6px 10px;
  height: 30px;
  width: 230px;
  background-color: white;
  /* background-image: url("../../../component-assets/search.svg"); */
  background-repeat: no-repeat;
  background-position: 220px center; /* Adjust as needed */
}
.data-table-container {
  border: 1px solid rgba(241, 238, 251, 1);
  border-radius: 5px;
}

.data-table-parent-container {
  padding: 1rem;
  margin: 1rem;
  background-color: white;
  border-radius: 10px;
}
.sc-dmyCSP {
  background-color: rgb(221, 217, 243) !important;
}
.sc-dmXWDj {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}
.sc-iKOmoZ {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* filter buttons */
/* 
.css-1rwt2y5-MuiButtonBase-root-MuiButton-root{
  margin-bottom: 20px !important;
  margin-left: 15px !important;
  background-color: #6F59DA !important;
  color: white !important;
} */

.filterButtons {
  margin-bottom: 20px !important;
  margin-left: 15px !important;
  background-color: #aa9af8 !important;
  color: white !important;
}

.filterButtons.active {
  background-color: #6f59da !important;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; 
}
.detail-label {
  text-align: left !important;
}