.dashboard-container {
    max-width: 400px;
    margin: auto;
    background-color: #fff;
}

.customer-list {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

h2 {
    margin: 1rem;
}

.customer-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 1rem;
    border-radius: 8px;
}

.customer-info {
    flex-grow: 1;
}

.customer-name {
    font-weight: bold;
}

.camera-icon-container {
    display: inline-block;
}

.camera-icon {
    color: rgb(0, 0, 0);
    border: none;
    margin-right: 0.5rem;
}

.location-icon {
    font-size: 20px;
    margin-right: 10px;
}

.container {
    position: relative;
  }
  
  .action-sheet {
    position: fixed;
    bottom: 0;
    left: 50%; /* Center the action sheet horizontally */
    transform: translateX(-50%);
    width: 100%; /* Occupy the full width */
    max-width: 400px; /* Limit the maximum width */
    background-color: #000000;
    box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    z-index: 1000;
}

.action-button {
    padding: 12px;
    background-color: #000000;
    border: none;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
    color: white;
    margin-top: 8px;
}

/* Add a rule to fix the action sheet when scrolling */
body {
    margin: 0;
    overflow-x: hidden;
}

/* Add a rule to fix the container when scrolling */
.dashboard-container {
    overflow-y: auto;
    max-height: 100vh;
}