body{
  font-family: var(--main-font);
}
.login-page-continer {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  /* height: 100vh; */
  /* margin-top: 10px; */
  
}

.auth-page-image-container {
  text-align: center;
  width: auto;
  height: auto;
}

.auth-page-image-container img {
  /* width: 400px;  */
  width: 100vw; 
  height: auto; 
  display: block; 
  margin: 0 auto; 
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.login-form-container{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.login-form-container {
  /* background-color:black; */
  background-color:var(--bgc-color);
  padding-top: 20px;
  padding: 20px;
  border-top-left-radius: 25px; 
  border-top-right-radius: 25px;
  width: 350px;
  top: 37.9%;
  position: absolute;
}

.logo-svg-container > svg {
  width: 220px;
  margin: 0;
  padding: 0;
}
.logo-svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.heading-link-container {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.copyright{
    font-size: small;
    padding-top: 2rem;
    /* color: gray; */
    color:var(--grey3-color);
    text-align: center;
  }

@media only screen and (min-width: 768px) {
  .login-page-continer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
  }

  .auth-page-image-container,
  .login-form-container {
    height: 100%;
    
  }
  .auth-page-image-container img {
    width: 700px;
    height: auto;
    display: block;
    margin: 0 auto;
    
  }

  .auth-page-image-container {
    display: flex;
    align-items: center; 
    justify-content: center; 
    height: 100vh;
    /* background-color: lightgray; */
    background-color:var( --grey1-color);
    padding-bottom: 8rem;


  }

  .login-form-container {

    background-color:var(--white-color);
    padding: 0px;
    padding-top: 8rem;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    width: 800px;
    height: 100vh;

}

  .logo-svg-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 220px; 
    height: 80px; 
    display: flex;
    padding-left: 2rem;
    padding-top: 1rem;
    
  }
  
  .logo-svg-container > svg {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }

  .copyright{
    padding-top: 2rem;
    /* color: gray; */
    color:var(--grey3-color);

    text-align: center;
  }
  
  .heading-link-container h2{
    padding-top: 2rem;
  }
  


}
