
.delivery-schedule-container{
  display: flex;
}

.delivery-schedule-table{
  margin-left: 4rem;
} */

  
@media only screen and (max-width: 768px) {

  body {
    overflow: hidden;
  }

  .underline{
    /* margin-top: 0px !important; */
    margin-left: 20px !important;
  }

  .customer-page-container {
    background-color: rgba(241, 240, 247, 1);
  }

  .customer-page {
    padding-top: 1px;
    padding-bottom: 30rem;
  }

  .mobileSideBarMenu {
    display: block;
  }

  .sideBarMenu {
    display: none;
  }

  .assign-driver-button{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 20px;
    text-align: center; 
  }

  .assign-driver-button button {
    background-color: #6f59da !important;
    color: white;
    height: 50px;
    width: 355px;
    max-width: 90%; 
  }

  .assign-driver-button button:hover {
    background-color: #9885ec !important;
    color: white;
  }

  .search-container {
    display: flex;
    justify-content: center;
  }

  .search-container input {
    height: 20px;
    width: 100%;
    max-width: 340px;
    background-color: white;
    background-image: url("../../../component-assets/search.svg");
    background-repeat: no-repeat;
    background-position: 330px center;
    padding: 10px;
    border-radius: 5px;
    border: 0px;
    box-shadow: 0px 1px 0px rgba(193, 199, 205, 1);
    color: #697077;
  }

  .data-table-parent-container h2 {
    text-align: center;
  }

  .data-table-container {
    border: 1px solid rgba(241, 238, 251, 1);
    border-radius: 5px;
    
  }

  .data-table-parent-container {
    padding: 1rem;
    margin: 1rem;
    background-color: white;
    border-radius: 10px;
  }

  .sc-dmyCSP {
    background-color: rgb(221, 217, 243) !important;
  }

  .sc-dmXWDj {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
  }

  .sc-iKOmoZ {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  /* .sc-hIPBNq input{
    width: 30% !important;
  } */

  .css-1e6y48t-MuiButtonBase-root-MuiButton-root.Mui-disabled {
    background-color: rgba(220, 220, 220, 1) !important;
    color: rgba(174, 174, 174, 1) !important;
  }

}

@media only screen and (min-width: 768px) {

  .mobileSideBarMenu {
    display: none;
  }
  .sideBarMenu {
    display: block;
  }

  .customer-page-container {
    background-color: rgba(241, 240, 247, 1);
    display: flex;
  }

  .sideBarMenu {
    flex: 0 0 15%;
  }

  .customer-page {
    flex: 1 85%;
    align-items: center;
    padding-top: 6px;
    padding-left: 1rem;

  }

  .search-addButtton-container {
    margin-right: 18px;
    padding-bottom: 1rem;
    margin-left: 10px;
    display: flex !important;
    justify-content: space-between !important;
  }

  .search-addButtton-container button {
    background-color: #6f59da !important;
    color: white;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    padding: 0.5rem;
  }

  .search-addButtton-container button:hover {
    background-color: #9885ec !important;
    color: white;
  }

  .search-container {
    display: flex;
    justify-content: left;
  }

  .search-container input {
    height: 15px;
    width: 230px;
    margin-left: 8px;
    background-color: white;
    background-image: url("../../../component-assets/search.svg");
    background-repeat: no-repeat;
    background-position: 210px center;
    padding: 10px;
    border-radius: 5px;
    border: 0px;
    box-shadow: 0px 1px 0px rgba(193, 199, 205, 1);
    color: #697077;
  }

  .data-table-container {
    border: 1px solid rgba(241, 238, 251, 1);
    border-radius: 5px;
  }

  .data-table-parent-container {
    padding: 1rem;
    margin: 1rem;
    background-color: white;
    border-radius: 10px;
    
  }

  .sc-dmyCSP {
    background-color: rgb(221, 217, 243) !important;
  }

  .sc-dmXWDj {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
  }

  .sc-iKOmoZ {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .data-table-parent-container {
    flex: 1; 
    display: flex;
    flex-direction: column;
}

.data-table-container {
    flex: 1; 
    overflow: auto; 
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root.Mui-disabled {
  background-color: rgba(220, 220, 220, 1) !important;
  color: rgba(174, 174, 174, 1) !important;
}

.erkbiK div:first-child {
  display: flex;
  align-items: center;

}

.erkbiK div:first-child span{
  margin-left: 5px;
}

}
