/* Mobile View */
.sideMenu {
  visibility: hidden;
}

.dashboardPage {
  background-color:rgba(241, 240, 247, 1);
  display: flex;
}

.sideBarMenu {
  flex: 0 0 15%;
}

.WIP {
  flex: 1 85%;
  align-items: center;
  padding-left: 1rem;
}

.dashboard-header {
  margin-top: 4rem;
  text-align: center;
  margin-bottom: 0;
}

/* Desktop View */
@media screen and (min-width: 700px) {
  .sideMenu {
    visibility: visible;
  }
  .mobileSideMenu {
    visibility: visible;
  }
}
